@import url('https://fonts.googleapis.com/css2?family=Mountains+of+Christmas:wght@400;700&display=swap');

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

html {
    width: 100%;
}

body{
    min-height: 100vh;
    width:100%;

    background: url('https://pixabay.com/de/images/download/tylijura-ai-generated-8374993_1920.png');
    background-size: cover;
    background-repeat: no-repeat;

    overflow:hidden;
}



#calendar {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 20px;
    padding: 20px;

    width:100%;
    min-height:100vh;

}

.door {
    min-height:0;

    border: 2px outset #ab7200c2;
    box-shadow: 0px 0px 15px 6px #ffe6b4e9;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 5em;
    font-family: "Mountains of Christmas", serif;
    font-weight: 700;
    font-style: normal;
    color: #ffbf00;
    text-shadow: 3px 3px #ab7200;
    background-color: #001d1d24;

}

@media (max-width: 600px) {
    body{
        overflow-y: auto;
    }
    #calendar {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(8, 1fr);

        gap: 10px;
        padding: 10px;

        height:auto;
        min-height:0;
        width:100%;
    }
    .door{
        height:auto;
        min-height: 0;

        aspect-ratio: 1/1;

        font-size: 2.5em;
    }
}

